$bg-color: pink;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$colors: (
  teal: (
    100: hsl(179, 97%, 57%),
    200: hsl(179, 97%, 47%),
    300: hsl(179, 97%, 37%),
    400: hsl(179, 97%, 27%),
    500: hsl(179, 97%, 17%),
    600: hsl(179, 97%, 7%),
  ),
  primary: (
    100: hsl(200, 100%, 100%),
    200: hsl(200, 100%, 90%),
    300: hsl(200, 100%, 80%),
    400: hsl(200, 100%, 70%),
    500: hsl(200, 100%, 60%),
    600: hsl(200, 100%, 50%),
  ),
  neutral: (
    100: hsl(200, 100%, 100%),
    200: hsl(200, 100%, 90%),
    300: hsl(200, 100%, 80%),
    400: hsl(200, 100%, 70%),
    500: hsl(200, 100%, 60%),
    600: hsl(200, 100%, 50%),
  ),
  dark: (
    100: hsl(0, 0%, 50%),
    200: hsl(0, 0%, 40%),
    300: hsl(0, 0%, 30%),
    400: hsl(0, 0%, 20%),
    500: hsl(0, 0%, 10%),
    600: hsl(0, 0%, 1%),
  ),
);
