$bg-color: pink;
$link-color: black;

$colors: (
    primary: (
        100: hsl(200, 100%, 100%),
        200: hsl(200, 100%, 90%),
        300: hsl(200, 100%, 80%),
        400: hsl(200, 100%, 70%),
        500: hsl(200, 100%, 60%),
        600: hsl(200, 100%, 50%),
    ),
    neutral: (
        100: hsl(200, 100%, 100%),
        200: hsl(200, 100%, 90%),
        300: hsl(200, 100%, 80%),
        400: hsl(200, 100%, 70%),
        500: hsl(200, 100%, 60%),
        600: hsl(200, 100%, 50%),
    ),
    dark: (
        100: hsl(0, 0%, 50%),
        200: hsl(0, 0%, 40%),
        300: hsl(0, 0%, 30%),
        400: hsl(0, 0%, 20%),
        500: hsl(0, 0%, 10%),
        600: hsl(0, 0%, 1%),
    )
);