$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$lightblue: rgba(2, 135, 133, 0.25);
$teal50: hsl(179, 96%, 19%, .5);

$colors: (
  teal: (
    100: hsl(179, 96%, 59%),
    200: hsl(179, 96%, 49%),
    300: hsl(179, 96%, 39%),
    400: hsl(179, 96%, 19%),
    500: hsl(179, 96%, 9%),
    600: hsl(179, 96%, .09%),
  ),
  yellow: (
    400: #ffb519,
  ),
  blue: (
    400: hsl(202, 78%, 75%),
  ),  
  red: (
    400: hsl(343, 87%, 56%),
  ),
  dark: (
    100: hsl(0, 0%, 50%),
    200: hsl(0, 0%, 40%),
    300: hsl(0, 0%, 30%),
    400: hsl(0, 0%, 20%),
    500: hsl(0, 0%, 10%),
    600: hsl(0, 0%, 1%),
  ),
);
