a {
    text-decoration: none;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    padding: 0;
}

a:hover::after {
    width: 100%;
    //transition: width .3s;
}