//Small: Major Second 
//Large: Major Third

$type-scale: (
  small: (
    100: 0.702rem,
    200: 0.79rem,
    300: 0.889rem,
    400: 1rem,
    // p
      500: 1.125rem,
    // h5
      600: 1.266rem,
    // h4..
      700: 1.424rem,
    800: 1.602rem,
  ),
  large: (
    100: 0.579rem,
    200: 0.694rem,
    300: 0.833rem,
    400: 1rem,
    500: 1.25rem,
    600: 1.728rem,
    700: 2.074rem,
    800: 2.488rem,
  ),
);
