@use '../abstracts/variables' as v;

form {
    display: flex;
    justify-content: center;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea
{
    background: #FFFFFF;
    border: 1px solid rgba(2, 135, 133, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 2em;
}
.wpcf7 label {
    margin: 0 1em 0 0;
}
.wpcf7 p {
    max-width: 48ch;
}
.personlig-info {
    margin: 0 0 1em 0;
}
.form-left, .form-right {
    max-width: 28em;
}

@include v.mq(medium) {
    form {
        display: block;
    }
    .personlig-info {
        flex-direction: column;
    }
}