@use '../abstracts/variables' as v;
@use '../abstracts/typescale' as ts;
@use '../abstracts/colors' as c;

//Two for each loops, looping through colors map and the maps inside that
//to output colors as costum properties in :root.
:root {
  @each $color, $shades in c.$colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
  // // setting font sizes with the same principle as above
  // // but with small and large screen sizes though an if-else statement
  // @each $screen-size, $font-size in ts.$type-scale {
  //   @if $screen-size == small {
  //     @each $size, $value in $font-size {
  //       --fs-#{$size}: #{$value};
  //     }
  //   } @else {
  //     @media screen and(min-width: large) {
  //       @each $size, $value in $font-size {
  //         --fs-#{$size}: #{$value};
  //       }
  //     }
  //   }
  // }
}

// Setting text colors based on type scale weights 100-900
// @each $color, $shades in c.$colors {
//   @each $shade, $value in $shades {
//     .text-#{$color}-#{$shade} {
//       color: $value;
//     }
//   }
// }
