@use '../abstracts/variables' as v;
@use '../abstracts/colors' as c;

.wp-block-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.wp-block-column {

}

.wp-block-group {
  display: block;
}
.wp-block-group__inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


// .wp-block-column:not(:last-child) {
//   margin: 0 5em 0 0;
// }
@include v.mq(medium) {
  .wp-block-columns {
    flex-direction: column;
  }
  .wp-block-column {

  }
}

.flex3 {
  width: 30%;
  margin: 0.6em;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}
figure img {
  width: 95%;
  height: auto;
  object-fit: contain;
}

.valueIcon {
  width: 300px;
  height: 200px;
  position: top 100px;
  object-fit: contain;
  z-index: 10;
}

.valueWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listStyleLogo ul {
  list-style-image: url('~@/assets/img/listicons/logoGreen1.png');
}

.wp-block-quote {
  background-color: var(--clr-teal-400);
  color: c.$white;
  margin: 0;
  padding: 1em;
  p {
    font-style: oblique;
  }
  cite {
    font-style: oblique;
    font-weight: 500;
  }
}
.has-text-align-center {
  text-align: center;
  margin: 0 auto;
}
.subheading {
  font-weight: 300;
  color: var(--clr-dark-100);
}
.yoast-breadcrumbs {
}

.wp-block-separator {
}
