@use '../abstracts/variables' as v;
@use '../abstracts/colors' as c;

.wp-block-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.wp-block-column {

}
// .wp-block-column:not(:last-child) {
//   margin: 0 5em 0 0;
// }
@include v.mq(medium) {
  .wp-block-columns {
    flex-direction: column;
  }
  .wp-block-column {

  }
}

// .flex3 {
//   width: 30%;
//   margin: 0.6em;
// }

figure {
  width: 100%;
  margin: 0;
  padding: 0;
}
figure img {
  width: 95%;
  height: auto;
  object-fit: contain;
}

.vedtaegter {
  background-image: url('~@/assets/img/seed-shape.png');
  background-size:cover;
  background-repeat: no-repeat;
}

.listStyleLogo ul {
  list-style-image: url('~@/assets/img/listicons/logoGreen1.png');
}

.wp-block-quote {
  background-color: var(--clr-teal-400);
  color: c.$white;
  margin: 0;
  padding: 1em;
  p {
    font-style: oblique;
  }
  cite {
    font-style: oblique;
    font-weight: 500;
  }
}
.has-text-align-center {
  text-align: center;
  margin: 0 auto;
}
.subheading {
  font-weight: 300;
  color: var(--clr-dark-100);
}
.yoast-breadcrumbs {
}

.wp-block-separator {
}
