@use '../abstracts/variables' as v;
@use '../abstracts/colors' as c;

body {
  background-size: contain;
  width: 100vw;
  background-position:
    top 0px left 0px,
    top 1000px left 0px,
    top 2000px left 0px,
    bottom 0px left 0px;
  background-image: 
  url('~@/assets/img/backgrounds/heroBG1.png'),
  url('~@/assets/img/backgrounds/sectionBG1.png'),
  url('~@/assets/img/backgrounds/sectionBG2.png'),
  url('~@/assets/img/backgrounds/footerBG.png');

  background-repeat: no-repeat;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}
.wp-block-column {
  margin: 0.6em;
  width: 45%;
}

.flex3 {
  width: 30%;
  margin: 0.6em;
}

figure {
  width: 100%;
  margin: 0;
}
figure img {
  width: 95%;
  height: auto;
  object-fit: contain;
}

.valueIcon {
  width: 300px;
  height: 200px;
  position: top 100px;
  object-fit: contain;
  z-index: 10;
}

.valueWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listStyleLogo ul {
  list-style-image: 
  url('~@/assets/img/listicons/logoGreen1.png');
}

.wp-block-quote {
  background-color: var(--clr-teal-400);
  color: c.$white;
  margin: 0;
  padding: 1em;
  p {
    font-style: oblique;
  }
  cite {
    font-style: oblique;
    font-weight: 500;
  }
}

.yoast-breadcrumbs {
}

.wp-block-separator {
}
