@use '../abstracts/variables' as v;
@use '../abstracts/colors' as c;

button {
  display: inline-block;
  margin: 1em auto;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background: var(--clr-teal-400);
  cursor: pointer;
}

button:hover {
  border-color: rgba(255, 255, 255, 1);
}
@include v.mq(small) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}

.btn {
  &--teal {
    background: linear-gradient(
      90deg,
      var(--clr-teal-400) 0%,
      rgba(255, 255, 255, 0.7) 175.82%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  &--yellow {
    background: linear-gradient(
      90deg,
      var(--clr-yellow-400) 0%,
      rgba(255, 255, 255, 0.7) 175.82%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  &--blue {
    background: linear-gradient(
      90deg,
      var(--clr-blue-400) 0%,
      rgba(255, 255, 255, 0.7) 175.82%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  &--white {
    background: linear-gradient(
      90deg,
      #fff 0%,
      rgba(255, 255, 255, 0.7) 175.82%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  &--small {
    padding: 0.5em 1.5em;
  }
  &--medium {
    padding: 0.7em 2.1em;
    margin: 1.5em auto;
  }
  &--large {
    padding: 1em 3em;
    margin: 2em auto;
  }
}
@include v.mq(medium) {
  .btn {
    &--small {
      padding: 0.3em 0.9em;
    }
    &--medium {
      padding: 0.5em 1.5em;
      margin: 1.5em auto;
    }
    &--large {
      padding: 0.7em 2.1em;
    }
  }
}
