.cards {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  @media screen and (max-width: 60em) {
    grid-auto-flow: row;
  }
}
.card {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  background: #fefefe;
  box-shadow: 0px 3px 20px rgba(2, 135, 133, 0.19);
  border-radius: 30px;

  h3 {
    text-align: center;
  }
  &--glow-blue {
    box-shadow: 0px 4px 20px rgba(144, 206, 241, 0.37);
  }
  &--glow-teal {
    box-shadow: 0px 3px 20px rgba(2, 135, 133, 0.19);
  }
  &--glow-yellow {
    box-shadow: 0px 1px 10px rgba(255, 181, 25, 0.24);
  }
}
.card-img {
  border-radius: 50%;
}
.card-text {
  text-align: center;

  p {
    margin: 0 auto;
    text-align: left;
  }
}

.person-card {
  max-width: 10em;
  max-height: 20em;

  img {
    margin: 0 auto;
    width: 8em;
    height: 8em;
  }

  h4 {
    font-weight: 400;
    font-style: oblique;
    text-align:  center;
  }
  h3 {

  }
}