.cards {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  @media screen and (max-width: 60em) {
    grid-auto-flow: row;
  }
}
.card {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  background: #fefefe;
  box-shadow: 0px 3px 20px rgba(2, 135, 133, 0.19);
  border-radius: 30px;

  h3 {
    text-align: center;
  }
}
.card-img {
  border-radius: 50%;
}
.card-text {
  text-align: center;

p {
  margin: 0 auto;
  text-align: left;
}

}
