// ul {
//     display: flex;
//     justify-content: space-between;
//   list-style: none;
//   margin: 0;
//   padding-left: 0;

//   .nav-logo {
//       display: inherit;
//   }
// }


// li {
//   color: #fff;
//   background: #242444;
//   display: block;
//   float: left;
//   padding: 1rem;
//   position: relative;
//   text-decoration: none;
//   transition-duration: 0.5s;

//   ul {
//   visibility: hidden;
//   opacity: 0;
//   min-width: 5rem;
//   position: absolute;
//   transition: all 0.5s ease;
//   margin-top: 1rem;
//   left: 0;
//   display: none;

//   li {
//   clear: both;
//   width: 100%;
//   }

//   }
//   a {
//       color: white;
//   }
// }
  

// li:hover,
// li:focus-within {
//   background: #333;
//   cursor: pointer;
// }

// li:focus-within a {
//   outline: none;
// }

// ul li:hover > ul,
// ul li:focus-within > ul,
// ul li ul:hover,
// ul li ul:focus {
//    visibility: visible;
//    opacity: 1;
//    display: block;
// }