// Tommy Soft



@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-Black.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-ExtraBold.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-Bold.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-Medium.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-Light.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('~@/assets/fonts/tommysoft/MADETommySoft-Thin.woff') format('woff'),
        url('~@/assets/fonts/tommysoft/MADETommySoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

