@use '../abstracts/colors' as c;
@use '../typography/fonts' as t;

html {
  font-size: 100%; //16px or 1rem unit
}
body {
  font-family: 'MADE Tommy Soft', -apple-system, system-ui, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-weight: normal;
  margin: 0.6rem 0;
}
h2 {
  font-size: var(--fs-700);
  font-weight: normal;
  margin: 0.6rem 0;
}
h3 {
  font-size: var(--fs-500);
  font-weight: normal;
  margin: 0.6rem 0;
}
h4 {
  font-size: var(--fs-400);
  font-weight: normal;
  margin: 0.6rem 0;
}
h5 {
  font-size: var(--fs-400);
  font-weight: bold;
  margin: 0.6rem 0;
}
p {
  font-size: var(--fs-400);
  font-weight: normal;
  max-width: 55ch;
  margin: 0;
}
a {
  text-decoration: none;
}

.clr-teal {
  color: var(--clr-teal-400);
}
.clr-blue {
  color: var(--clr-blue-400);
}
.clr-yellow {
  color: var(--clr-yellow-400);
}
.clr-red {
  color: var(--clr-red-400);
}
